.outer{
    width: 500px;
    height: 350px;
    padding: 10px;
    background-color:rgb(85, 208, 249);
    border: 1px solid black;
     /* align-items: flex-end; */
      border-radius: 15px;
}
.inner1{
width: 100px;
    height: 80px;
    background-image:url("https://wallpapercave.com/wp/wp4501601.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.inner2{
    width: 480px;
    height: 70px;
    background-color:rgb(85, 208, 249);
    display:flex;
    position:sticky;
    align-items: right;
}
.inner3{
    width: 120px;
    height: 120px;
    background-image:url("../assets/myimage.jpeg");
    border: 1px solid;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
} .inner5{
    width: 400px;
    height: 40px;
   display:flex;
    position:sticky;
}

#ID{
    width: 80px;
    height: 90px;
    background-image:url("../assets/qr\ code.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
#ID2{
    width: 520px;
    height: 60px;
}
.inner9{
    width: 100px;
    height: 40px;
    background-image:url("../assets/signature_image-removebg-preview.png");
    border: 1px solid;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
}
.outer1{
    width: 600px;
    height: 330px;
    padding: 10px;
    background-color:rgb(85, 208, 249);
    border: 1px solid black;
     /* align-items: flex-end; */
      border-radius: 15px;
}
.inner12{
    width: 600px;
    height: 70px;
    background-color:rgb(85, 208, 249);
    display:flex;
    position:sticky;
    align-items: right;
}
